<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hong.mapper.CategoryMapper">
    <select id="createCategory">
        INSERT INTO category (name, tier)
        VALUES (#{name}, #{tier})
    </select>
    <select id="getCategory" parameterType="String" resultType="HashMap">
        SELECT * FROM category WHERE tier = #{tier}
    </select>
    <insert id="insertCategory" parameterType="HashMap">
        INSERT INTO item (category_id)
        VALUES (#{category_id})
    </insert>
</mapper>