<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.hong.mapper.OrderMapper">
    <select id="getOrder" parameterType="order" resultType="order">
        SELECT * FROM order
    </select>

    <insert id="order" parameterType="OrderItemDto">
        INSERT INTO order_item (item_id, reg_time, count, order_price)
        VALUES (#{item_id}, now(), #{count}, #{orderPrice})
    </insert>
</mapper>